{% extends "main.html" %}

{% block main %}

<link rel="stylesheet" href="/static/block_1_css.css">

<div>
    <div class="rows_floors_cl">
        <div class="rooms_cl">
            <h2>1-Этаж</h2>
            <h4>Женская (8-местная): Нижняя койка</h4>
            <div class="bed_styling_cl">
                <div><span>№1</span></div>
                <div><input type="date" id="date_1_id"></div>
                <div><input type="time" id="time_1_id"></div>
                <div><input type="text" id="text_1_id"></div>
                <div id="save_1_id"><span id="save_text_1_id">save</span></div>
                <div id="delete_1_id"><span id="delete_text_1_id">Delete</span></div>
            </div>
            <div class="bed_styling_cl">
                <div><span>№2</span></div>
                <div><input type="date" id="date_2_id"></div>
                <div><input type="time" id="time_2_id"></div>
                <div><input type="text" id="text_2_id"></div>
                <div id="save_2_id"><span id="save_text_2_id">save</span></div>
                <div id="delete_2_id"><span id="delete_text_2_id">Delete</span></div>
            </div>
            <div class="bed_styling_cl">
                <div><span>№3</span></div>
                <div><input type="date" id="date_3_id"></div>
                <div><input type="time" id="time_3_id"></div>
                <div><input type="text" id="text_3_id"></div>
                <div id="save_3_id"><span id="save_text_3_id">save</span></div>
                <div id="delete_3_id"><span id="delete_text_3_id">Delete</span></div>
            </div>
            <div class="bed_styling_cl">
                <div><span>№4</span></div>
                <div><input type="date" id="date_4_id"></div>
                <div><input type="time" id="time_4_id"></div>
                <div><input type="text" id="text_4_id"></div>
                <div id="save_4_id"><span id="save_text_4_id">save</span></div>
                <div id="delete_4_id"><span id="delete_text_4_id">Delete</span></div>
            </div>
            <h4>Женская (8-местная): Верхняя койка</h4>
            <div class="bed_styling_cl">
                <div><span>№5</span></div>
                <div><input type="date" id="date_5_id"></div>
                <div><input type="time" id="time_5_id"></div>
                <div><input type="text" id="text_5_id"></div>
                <div id="save_5_id"><span id="save_text_5_id">save</span></div>
                <div id="delete_5_id"><span id="delete_text_5_id">Delete</span></div>
            </div>
            <div class="bed_styling_cl">
                <div><span>№6</span></div>
                <div><input type="date" id="date_6_id"></div>
                <div><input type="time" id="time_6_id"></div>
                <div><input type="text" id="text_6_id"></div>
                <div id="save_6_id"><span id="save_text_6_id">save</span></div>
                <div id="delete_6_id"><span id="delete_text_6_id">Delete</span></div>
            </div>
            <div class="bed_styling_cl">
                <div><span>№7</span></div>
                <div><input type="date" id="date_7_id"></div>
                <div><input type="time" id="time_7_id"></div>
                <div><input type="text" id="text_7_id"></div>
                <div id="save_7_id"><span id="save_text_7_id">save</span></div>
                <div id="delete_7_id"><span id="delete_text_7_id">Delete</span></div>
            </div>
            <div class="bed_styling_cl">
                <div><span>№8</span></div>
                <div><input type="date" id="date_8_id"></div>
                <div><input type="time" id="time_8_id"></div>
                <div><input type="text" id="text_8_id"></div>
                <div id="save_8_id"><span id="save_text_8_id">save</span></div>
                <div id="delete_8_id"><span id="delete_text_8_id">Delete</span></div>
            </div>
            <h3>Комната для пар (Калибри)</h3>
            <div class="bed_styling_cl">
                <div><span>№1</span></div>
                <div><input type="date" id="date_9_id"></div>
                <div><input type="time" id="time_9_id"></div>
                <div><input type="text" id="text_9_id"></div>
                <div id="save_9_id"><span id="save_text_9_id">save</span></div>
                <div id="delete_9_id"><span id="delete_text_9_id">Delete</span></div>
            </div>
            <div class="bed_styling_cl">
                <div><span>№2</span></div>
                <div><input type="date" id="date_10_id"></div>
                <div><input type="time" id="time_10_id"></div>
                <div><input type="text" id="text_10_id"></div>
                <div id="save_10_id"><span id="save_text_10_id">save</span></div>
                <div id="delete_10_id"><span id="delete_text_10_id">Delete</span></div>
            </div>
        </div>
        <div class="rooms_cl">
            <h2>2-Этаж</h2>
            <h4>Мужская комната (6-местная): Нижняя койка</h4>
            <div class="bed_styling_cl">
                <div><span>№1</span></div>
                <div><input type="date" id="date_11_id"></div>
                <div><input type="time" id="time_11_id"></div>
                <div><input type="text" id="text_11_id"></div>
                <div id="save_11_id"><span id="save_text_11_id">save</span></div>
                <div id="delete_11_id"><span id="delete_text_11_id">Delete</span></div>
            </div>
            <div class="bed_styling_cl">
                <div><span>№2</span></div>
                <div><input type="date" id="date_12_id"></div>
                <div><input type="time" id="time_12_id"></div>
                <div><input type="text" id="text_12_id"></div>
                <div id="save_12_id"><span id="save_text_12_id">save</span></div>
                <div id="delete_12_id"><span id="delete_text_12_id">Delete</span></div>
            </div>
            <div class="bed_styling_cl">
                <div><span>№3</span></div>
                <div><input type="date" id="date_13_id"></div>
                <div><input type="time" id="time_13_id"></div>
                <div><input type="text" id="text_13_id"></div>
                <div id="save_13_id"><span id="save_text_13_id">save</span></div>
                <div id="delete_13_id"><span id="delete_text_13_id">Delete</span></div>
            </div>
            <h4>Мужская комната (6-местная): Верхняя койка</h4>
            <div class="bed_styling_cl">
                <div><span>№4</span></div>
                <div><input type="date" id="date_14_id"></div>
                <div><input type="time" id="time_14_id"></div>
                <div><input type="text" id="text_14_id"></div>
                <div id="save_14_id"><span id="save_text_14_id">save</span></div>
                <div id="delete_14_id"><span id="delete_text_14_id">Delete</span></div>
            </div>
            <div class="bed_styling_cl">
                <div><span>№5</span></div>
                <div><input type="date" id="date_15_id"></div>
                <div><input type="time" id="time_15_id"></div>
                <div><input type="text" id="text_15_id"></div>
                <div id="save_15_id"><span id="save_text_15_id">save</span></div>
                <div id="delete_15_id"><span id="delete_text_15_id">Delete</span></div>
            </div>
            <div class="bed_styling_cl">
                <div><span>№6</span></div>
                <div><input type="date" id="date_16_id"></div>
                <div><input type="time" id="time_16_id"></div>
                <div><input type="text" id="text_16_id"></div>
                <div id="save_16_id"><span id="save_text_16_id">save</span></div>
                <div id="delete_16_id"><span id="delete_text_16_id">Delete</span></div>
            </div>
            <h4>Мужская комната (8-местная): Нижняя койка</h4>
            <div class="bed_styling_cl">
                <div><span>№1</span></div>
                <div><input type="date" id="date_17_id"></div>
                <div><input type="time" id="time_17_id"></div>
                <div><input type="text" id="text_17_id"></div>
                <div id="save_17_id"><span id="save_text_17_id">save</span></div>
                <div id="delete_17_id"><span id="delete_text_17_id">Delete</span></div>
            </div>
            <div class="bed_styling_cl">
                <div><span>№2</span></div>
                <div><input type="date" id="date_18_id"></div>
                <div><input type="time" id="time_18_id"></div>
                <div><input type="text" id="text_18_id"></div>
                <div id="save_18_id"><span id="save_text_18_id">save</span></div>
                <div id="delete_18_id"><span id="delete_text_18_id">Delete</span></div>
            </div>
            <div class="bed_styling_cl">
                <div><span>№3</span></div>
                <div><input type="date" id="date_19_id"></div>
                <div><input type="time" id="time_19_id"></div>
                <div><input type="text" id="text_19_id"></div>
                <div id="save_19_id"><span id="save_text_19_id">save</span></div>
                <div id="delete_19_id"><span id="delete_text_19_id">Delete</span></div>
            </div>
            <div class="bed_styling_cl">
                <div><span>№4</span></div>
                <div><input type="date" id="date_20_id"></div>
                <div><input type="time" id="time_20_id"></div>
                <div><input type="text" id="text_20_id"></div>
                <div id="save_20_id"><span id="save_text_20_id">save</span></div>
                <div id="delete_20_id"><span id="delete_text_20_id">Delete</span></div>
            </div>
            <h4>Мужская комната (8-местная): Верхняя койка</h4>
            <div class="bed_styling_cl">
                <div><span>№5</span></div>
                <div><input type="date" id="date_21_id"></div>
                <div><input type="time" id="time_21_id"></div>
                <div><input type="text" id="text_21_id"></div>
                <div id="save_21_id"><span id="save_text_21_id">save</span></div>
                <div id="delete_21_id"><span id="delete_text_21_id">Delete</span></div>
            </div>
            <div class="bed_styling_cl">
                <div><span>№6</span></div>
                <div><input type="date" id="date_22_id"></div>
                <div><input type="time" id="time_22_id"></div>
                <div><input type="text" id="text_22_id"></div>
                <div id="save_22_id"><span id="save_text_22_id">save</span></div>
                <div id="delete_22_id"><span id="delete_text_22_id">Delete</span></div>
            </div>
            <div class="bed_styling_cl">
                <div><span>№7</span></div>
                <div><input type="date" id="date_23_id"></div>
                <div><input type="time" id="time_23_id"></div>
                <div><input type="text" id="text_23_id"></div>
                <div id="save_23_id"><span id="save_text_23_id">save</span></div>
                <div id="delete_23_id"><span id="delete_text_23_id">Delete</span></div>
            </div>
            <div class="bed_styling_cl">
                <div><span>№8</span></div>
                <div><input type="date" id="date_24_id"></div>
                <div><input type="time" id="time_24_id"></div>
                <div><input type="text" id="text_24_id"></div>
                <div id="save_24_id"><span id="save_text_24_id">save</span></div>
                <div id="delete_24_id"><span id="delete_text_24_id">Delete</span></div>
            </div>
            <h4>Мужская комната (7-местная): Нижняя койка</h4>
            <div class="bed_styling_cl">
                <div><span>№1</span></div>
                <div><input type="date" id="date_25_id"></div>
                <div><input type="time" id="time_25_id"></div>
                <div><input type="text" id="text_25_id"></div>
                <div id="save_25_id"><span id="save_text_25_id">save</span></div>
                <div id="delete_25_id"><span id="delete_text_25_id">Delete</span></div>
            </div>
            <div class="bed_styling_cl">
                <div><span>№2</span></div>
                <div><input type="date" id="date_26_id"></div>
                <div><input type="time" id="time_26_id"></div>
                <div><input type="text" id="text_26_id"></div>
                <div id="save_26_id"><span id="save_text_26_id">save</span></div>
                <div id="delete_26_id"><span id="delete_text_26_id">Delete</span></div>
            </div>
            <div class="bed_styling_cl">
                <div><span>№3</span></div>
                <div><input type="date" id="date_27_id"></div>
                <div><input type="time" id="time_27_id"></div>
                <div><input type="text" id="text_27_id"></div>
                <div id="save_27_id"><span id="save_text_27_id">save</span></div>
                <div id="delete_27_id"><span id="delete_text_27_id">Delete</span></div>
            </div>
            <div class="bed_styling_cl">
                <div><span>№4</span></div>
                <div><input type="date" id="date_28_id"></div>
                <div><input type="time" id="time_28_id"></div>
                <div><input type="text" id="text_28_id"></div>
                <div id="save_28_id"><span id="save_text_28_id">save</span></div>
                <div id="delete_28_id"><span id="delete_text_28_id">Delete</span></div>
            </div>
            <h4>Мужская комната (7-местная): Верхняя койка</h4>
            <div class="bed_styling_cl">
                <div><span>№5</span></div>
                <div><input type="date" id="date_29_id"></div>
                <div><input type="time" id="time_29_id"></div>
                <div><input type="text" id="text_29_id"></div>
                <div id="save_29_id"><span id="save_text_29_id">save</span></div>
                <div id="delete_29_id"><span id="delete_text_29_id">Delete</span></div>
            </div>
            <div class="bed_styling_cl">
                <div><span>№6</span></div>
                <div><input type="date" id="date_30_id"></div>
                <div><input type="time" id="time_30_id"></div>
                <div><input type="text" id="text_30_id"></div>
                <div id="save_30_id"><span id="save_text_30_id">save</span></div>
                <div id="delete_30_id"><span id="delete_text_30_id">Delete</span></div>
            </div>
            <div class="bed_styling_cl">
                <div><span>№7</span></div>
                <div><input type="date" id="date_31_id"></div>
                <div><input type="time" id="time_31_id"></div>
                <div><input type="text" id="text_31_id"></div>
                <div id="save_31_id"><span id="save_text_31_id">save</span></div>
                <div id="delete_31_id"><span id="delete_text_31_id">Delete</span></div>
            </div>
            <h3>Комната для пар (Горы)</h3>
            <div class="bed_styling_cl">
                <div><span>№1</span></div>
                <div><input type="date" id="date_32_id"></div>
                <div><input type="time" id="time_32_id"></div>
                <div><input type="text" id="text_32_id"></div>
                <div id="save_32_id"><span id="save_text_32_id">save</span></div>
                <div id="delete_32_id"><span id="delete_text_32_id">Delete</span></div>
            </div>
            <div class="bed_styling_cl">
                <div><span>№2</span></div>
                <div><input type="date" id="date_33_id"></div>
                <div><input type="time" id="time_33_id"></div>
                <div><input type="text" id="text_33_id"></div>
                <div id="save_33_id"><span id="save_text_33_id">save</span></div>
                <div id="delete_33_id"><span id="delete_text_33_id">Delete</span></div>
            </div>
        </div>
    </div>
</div>

<script src="/static/block_1_js.js"></script>

{% endblock %}